# Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Data Set

In [4]:
data=pd.read_csv('suv_data.xls')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
data.shape

(400, 5)

In [6]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# Define X and Y

In [9]:
X=data.iloc[:,2:4:1]
y=data.iloc[:,-1]

In [10]:
X.head(2)

   Age  EstimatedSalary
0   19            19000
1   35            20000

In [11]:
y.head(2)

0    0
1    0
Name: Purchased, dtype: int64

# Train Model

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=91)

In [7]:
X_train.shape

(300, 2)

# Naive_Bayes

In [8]:
from sklearn.naive_bayes import GaussianNB

In [9]:
model=GaussianNB()

In [10]:
model.fit(X_train,y_train)

GaussianNB()

In [11]:
model.score(X_test,y_test)

0.84

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
y_predict=model.predict(X_test)

In [16]:
confusion_matrix(y_test,y_predict)

array([[58,  7],
       [ 9, 26]], dtype=int64)